.chat-container {
    max-width: 600px;

    .status-bar {
        background-color: #444;
        color: #fff;
        padding: 12px;
        text-align: right;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .message-list {
        height: 300px;
        background-color: aliceblue;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        & > li:first-child {
            margin-top: auto;
        }

        .message-item {
            padding: 8px;

            .message-sender {
                font-weight: bold;
            }
        }
    }

    .chat-input {
        background-color: #444;
        padding: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        column-gap: 8px;

        input {
            flex: auto;
            padding: 8px;
            font-size: 16px;
        }

        button {
            flex-basis: fit-content;
            padding: 8px;
            background-color: #fff;
            border: 1px solid #ddd;
            font-size: 16px;
        }
    }
}
